{% extends "base.html" %}
<article>{% block content %}
    <h1>About</h1>
    <p>
        Welcome to the is601 project for Colton Johnson. This project allows a user to go through the authentication
        process of registering and logging into the website. It also allows a use to upload a csv file of songs that
        will then populate the dashboard with these songs.
    </p><br>
    <p>
        In order to access the
        functionality of this project a user needs to register through the authentication system
        of this web app. It will then redirect a user to the login page where they can log in.
        If you already have an account you can quickly log in through this page.
    <p>

    </p>
{% endblock %}
</article>
